In [1]:
# Comma separated of key:value pairs enclosed with {}
# Unordered
# Mutable

# Duplicates keys are not allowed
# values can be duplicate

# Only immutable datatypes are allowed as keys
# Any datatype is allowed to be a value

In [2]:
student1 = {'id': 101, 'name': 'John', 'percent': 83.5}

In [3]:
print(student1)

{'id': 101, 'name': 'John', 'percent': 83.5}

In [4]:
print(type(student1))

<class 'dict'>

In [5]:
student1[0]

KeyError: 0

In [6]:
student1['id']

101

In [7]:
student1['name']

'John'

In [8]:
student1['id'] = 102

In [9]:
student1

{'id': 102, 'name': 'John', 'percent': 83.5}

In [10]:
student1['phone']

KeyError: 'phone'

In [11]:
student1['phone'] = 12345

In [12]:
student1

{'id': 102, 'name': 'John', 'percent': 83.5, 'phone': 12345}

In [13]:
student1['pin'] = 12345

In [14]:
student1

{'id': 102, 'name': 'John', 'percent': 83.5, 'phone': 12345, 'pin': 12345}

In [15]:
d1 = {'a': 1, [10, 20]: 30}

TypeError: unhashable type: 'list'

In [16]:
d1 = {'a': 1, {10, 20}: 30}

TypeError: unhashable type: 'set'

In [17]:
d1 = {'a': 1, (10, 20): 30}

In [18]:
d1

{'a': 1, (10, 20): 30}

In [19]:
student1

{'id': 102, 'name': 'John', 'percent': 83.5, 'phone': 12345, 'pin': 12345}

In [20]:
student1['marks'] = [88, 85, 83, 81]

In [21]:
student1

{'id': 102,
 'name': 'John',
 'percent': 83.5,
 'phone': 12345,
 'pin': 12345,
 'marks': [88, 85, 83, 81]}

In [22]:
student1['marks'] = {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81}

In [23]:
student1

{'id': 102,
 'name': 'John',
 'percent': 83.5,
 'phone': 12345,
 'pin': 12345,
 'marks': {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81}}

In [25]:
i = student1.items()

In [26]:
type(i)

dict_items

In [27]:
i

dict_items([('id', 102), ('name', 'John'), ('percent', 83.5), ('phone', 12345), ('pin', 12345), ('marks', {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81})])

In [28]:
i_list = list(i)

In [29]:
i_list

[('id', 102),
 ('name', 'John'),
 ('percent', 83.5),
 ('phone', 12345),
 ('pin', 12345),
 ('marks', {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81})]

In [30]:
type(i_list)

list

In [31]:
i_list[0]

('id', 102)

In [32]:
i_list[1]

('name', 'John')

In [33]:
student1

{'id': 102,
 'name': 'John',
 'percent': 83.5,
 'phone': 12345,
 'pin': 12345,
 'marks': {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81}}

In [34]:
student1.keys()

dict_keys(['id', 'name', 'percent', 'phone', 'pin', 'marks'])

In [35]:
student1.values()

dict_values([102, 'John', 83.5, 12345, 12345, {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81}])

In [36]:
# in

In [37]:
student1

{'id': 102,
 'name': 'John',
 'percent': 83.5,
 'phone': 12345,
 'pin': 12345,
 'marks': {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81}}

In [38]:
'id' in student1

True

In [39]:
'John' in student1

False

In [40]:
'John' in student1.values()

True

In [41]:
student1

{'id': 102,
 'name': 'John',
 'percent': 83.5,
 'phone': 12345,
 'pin': 12345,
 'marks': {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81}}

In [42]:
student1.pop('pin')

12345

In [43]:
student1

{'id': 102,
 'name': 'John',
 'percent': 83.5,
 'phone': 12345,
 'marks': {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81}}

In [44]:
student1.pop('country')

KeyError: 'country'

In [45]:
student1.update({'country': 'USA'})

In [46]:
student1

{'id': 102,
 'name': 'John',
 'percent': 83.5,
 'phone': 12345,
 'marks': {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81},
 'country': 'USA'}

In [47]:
student1.update({'percent': 82.5})

In [48]:
student1

{'id': 102,
 'name': 'John',
 'percent': 82.5,
 'phone': 12345,
 'marks': {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81},
 'country': 'USA'}

In [49]:
address = {'house_no': 3, 'street': 'H Street', 'city': 'NY', 'pin': 9877}

In [50]:
address

{'house_no': 3, 'street': 'H Street', 'city': 'NY', 'pin': 9877}

In [51]:
student1.update({'addr': address})

In [52]:
student1

{'id': 102,
 'name': 'John',
 'percent': 82.5,
 'phone': 12345,
 'marks': {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81},
 'country': 'USA',
 'addr': {'house_no': 3, 'street': 'H Street', 'city': 'NY', 'pin': 9877}}

In [53]:
student1.pop('addr')

{'house_no': 3, 'street': 'H Street', 'city': 'NY', 'pin': 9877}

In [54]:
student1

{'id': 102,
 'name': 'John',
 'percent': 82.5,
 'phone': 12345,
 'marks': {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81},
 'country': 'USA'}

In [55]:
student1.update(address)

In [56]:
student1

{'id': 102,
 'name': 'John',
 'percent': 82.5,
 'phone': 12345,
 'marks': {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81},
 'country': 'USA',
 'house_no': 3,
 'street': 'H Street',
 'city': 'NY',
 'pin': 9877}

In [57]:
student1['percent']

82.5

In [59]:
student1.get('percent')

82.5

In [60]:
student1['university']

KeyError: 'university'

In [61]:
student1.get('university')

In [62]:
uni = student1.get('university')

In [63]:
print(uni)

None

In [64]:
student1

{'id': 102,
 'name': 'John',
 'percent': 82.5,
 'phone': 12345,
 'marks': {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81},
 'country': 'USA',
 'house_no': 3,
 'street': 'H Street',
 'city': 'NY',
 'pin': 9877}

In [65]:
key_to_check = 'university'
value = student1.get(key_to_check)
if value == None:
    print("Key is not present")
else:
    print(f"The value is: {value}")

Key is not present

In [66]:
key_to_check = 'percent'
value = student1.get(key_to_check)
if value == None:
    print("Key is not present")
else:
    print(f"The value is: {value}")

The value is: 82.5

In [67]:
# Aliasing and cloning with dictionaries

In [68]:
student1

{'id': 102,
 'name': 'John',
 'percent': 82.5,
 'phone': 12345,
 'marks': {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81},
 'country': 'USA',
 'house_no': 3,
 'street': 'H Street',
 'city': 'NY',
 'pin': 9877}

In [70]:
student2 = student1 # Aliasing

In [71]:
student2

{'id': 102,
 'name': 'John',
 'percent': 82.5,
 'phone': 12345,
 'marks': {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81},
 'country': 'USA',
 'house_no': 3,
 'street': 'H Street',
 'city': 'NY',
 'pin': 9877}

In [72]:
student2['id'] = 111

In [73]:
student2

{'id': 111,
 'name': 'John',
 'percent': 82.5,
 'phone': 12345,
 'marks': {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81},
 'country': 'USA',
 'house_no': 3,
 'street': 'H Street',
 'city': 'NY',
 'pin': 9877}

In [74]:
student1

{'id': 111,
 'name': 'John',
 'percent': 82.5,
 'phone': 12345,
 'marks': {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81},
 'country': 'USA',
 'house_no': 3,
 'street': 'H Street',
 'city': 'NY',
 'pin': 9877}

In [75]:
student3 = student1.copy()

In [76]:
student3

{'id': 111,
 'name': 'John',
 'percent': 82.5,
 'phone': 12345,
 'marks': {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81},
 'country': 'USA',
 'house_no': 3,
 'street': 'H Street',
 'city': 'NY',
 'pin': 9877}

In [77]:
student3['id'] = 150

In [78]:
student3

{'id': 150,
 'name': 'John',
 'percent': 82.5,
 'phone': 12345,
 'marks': {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81},
 'country': 'USA',
 'house_no': 3,
 'street': 'H Street',
 'city': 'NY',
 'pin': 9877}

In [79]:
student1

{'id': 111,
 'name': 'John',
 'percent': 82.5,
 'phone': 12345,
 'marks': {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81},
 'country': 'USA',
 'house_no': 3,
 'street': 'H Street',
 'city': 'NY',
 'pin': 9877}

In [81]:
marks = {'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81}

In [82]:
marks

{'sub1': 88, 'sub2': 85, 'sub3': 83, 'sub4': 81}

In [83]:
for i in marks:
    print(i)

sub1
sub2
sub3
sub4

In [84]:
for i in marks:
    m = float(input(f"Enter the marks of {i}: "))
    marks[i] = m
    
print(marks)

Enter the marks of sub1: 87
Enter the marks of sub2: 60
Enter the marks of sub3: 66
Enter the marks of sub4: 91.5
{'sub1': 87.0, 'sub2': 60.0, 'sub3': 66.0, 'sub4': 91.5}

In [85]:
# marks > 90 => A
# marks > 75 => B
# marks > 60 => C
# marks < 60 => F

In [86]:
marks

{'sub1': 87.0, 'sub2': 60.0, 'sub3': 66.0, 'sub4': 91.5}

In [87]:
for sub in marks:
    print(sub, end=':')
    if marks[sub] >= 90.0:
        print('A')
    elif marks[sub] >= 75.0:
        print('B')
    elif marks[sub] >= 60.0:
        print('C')
    else:
        print('F')

sub1:B
sub2:C
sub3:C
sub4:A

In [88]:
marks

{'sub1': 87.0, 'sub2': 60.0, 'sub3': 66.0, 'sub4': 91.5}

In [89]:
for i in marks:
    m = float(input(f"Enter the marks of {i}: "))
    marks[i] = m
    
print(marks)

for sub in marks:
    print(sub, end=':')
    if marks[sub] >= 90.0:
        print('A')
    elif marks[sub] >= 75.0:
        print('B')
    elif marks[sub] >= 60.0:
        print('C')
    else:
        print('F')

Enter the marks of sub1: 87.5
Enter the marks of sub2: 90.5
Enter the marks of sub3: 50
Enter the marks of sub4: 66.5
{'sub1': 87.5, 'sub2': 90.5, 'sub3': 50.0, 'sub4': 66.5}
sub1:B
sub2:A
sub3:F
sub4:C

In [90]:
# grades = {'sub1': val1, 'sub2': val2, ....}

In [91]:
grades = {}
for sub in marks:
    if marks[sub] >= 90.0:
        grades.update({sub: 'A'})
        # grades[sub] = 'A'
    elif marks[sub] >= 75.0:
        grades.update({sub: 'B'})
        # grades[sub] = 'B'
    elif marks[sub] >= 60.0:
        grades.update({sub: 'C'})
        # grades[sub] = 'C'
    else:
        grades.update({sub: 'F'})
        # grades[sub] = 'F'

In [92]:
grades

{'sub1': 'B', 'sub2': 'A', 'sub3': 'F', 'sub4': 'C'}

In [93]:
marks

{'sub1': 87.5, 'sub2': 90.5, 'sub3': 50.0, 'sub4': 66.5}

In [95]:
grades = {}
for sub in marks:
    if marks[sub] >= 90.0:
        grade = 'A'
    elif marks[sub] >= 75.0:
        grade = 'B'
    elif marks[sub] >= 60.0:
        grade = 'C'
    else:
        grade = 'F'
    
    grades[sub] = grade
    
print(grades)

{'sub1': 'B', 'sub2': 'A', 'sub3': 'F', 'sub4': 'C'}

In [96]:
# student_info = {'id': , 'name':, 'addr':}

In [97]:
student_info = {}

entries = int(input("Enter the number of items you want: "))

for i in range(entries):
    key = input(f"Enter the {i+1} key: ")
    val = input(f"Enter the {i+1} value: ")
    student_info[key] = val # student_info.update({key:val})
    
print(student_info)

Enter the number of items you want: 5
Enter the 1 key: id
Enter the 1 value: 101
Enter the 2 key: name
Enter the 2 value: John
Enter the 3 key: country
Enter the 3 value: US
Enter the 4 key: percent
Enter the 4 value: 80.5
Enter the 5 key: phone
Enter the 5 value: 12345
{'id': '101', 'name': 'John', 'country': 'US', 'percent': '80.5', 'phone': '12345'}

In [98]:
student_info

{'id': '101',
 'name': 'John',
 'country': 'US',
 'percent': '80.5',
 'phone': '12345'}

In [100]:
# eval()

In [101]:
student_info = {}

entries = int(input("Enter the number of items you want: "))

for i in range(entries):
    key = input(f"Enter the {i+1} key: ")
    val = eval(input(f"Enter the {i+1} value: "))
    student_info[key] = val # student_info.update({key:val})
    
print(student_info)

Enter the number of items you want: 5
Enter the 1 key: id
Enter the 1 value: 102
Enter the 2 key: name
Enter the 2 value: 'John'
Enter the 3 key: percent
Enter the 3 value: 81.5
Enter the 4 key: marks
Enter the 4 value: [87, 67, 79]
Enter the 5 key: phone
Enter the 5 value: 87664
{'id': 102, 'name': 'John', 'percent': 81.5, 'marks': [87, 67, 79], 'phone': 87664}

In [104]:
eval("'John'")

'John'

In [105]:
val = 100

In [106]:
eval("val")

100

In [107]:
eval('100')

100

In [108]:
eval("'100'")

'100'

In [109]:
eval(input(f"Enter a value: "))

Enter a value: jill

NameError: name 'jill' is not defined

In [110]:
str1 = "hello world"

In [111]:
# out = {'h':1 , 'e': 1, 'l': 3, 'o': 2, .....}

In [112]:
out = {}
for i in str1:
    c = str1.count(i)
    out[i] = c
    
print(out)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [113]:
# Same example without count function

In [115]:
# zip, ordered dict

In [116]:
str1 = "hello world"

# out = {'h':1 , 'e': 1, 'l': 3, 'o': 2, .....}

out = {}

for i in str1:
    if i in out:
        out[i] = out[i] + 1
    else:
        out[i] = 1
        
print(out)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [117]:
# zip()

In [6]:
ids = [101, 102, 103]
names = ['John', 'Carol', 'Mark']

In [119]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables) --> A zip object yielding tuples until an input is exhausted.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [5]:
ids

NameError: name 'ids' is not defined

In [121]:
names

['John', 'Carol', 'Mark']

In [122]:
zip(ids, names)

In [123]:
list(zip(ids, names))

[(101, 'John'), (102, 'Carol'), (103, 'Mark')]

In [124]:
dict(zip(ids, names))

{101: 'John', 102: 'Carol', 103: 'Mark'}

In [1]:
percents = [90.5, 87.0]

In [2]:
ids

NameError: name 'ids' is not defined

In [3]:
names

NameError: name 'names' is not defined

In [4]:
percents

[90.5, 87.0]

In [7]:
list(zip(ids, names, percents))

[(101, 'John', 90.5), (102, 'Carol', 87.0)]

In [131]:
dict(zip(ids, names, percents))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [132]:
ids

[101, 102, 103]

In [133]:
names

['John', 'Carol', 'Mark']

In [134]:
# {101: 'John', 102: 'Carol', 103: 'Mark'}

In [136]:
i = 0
out = {}
while i < len(ids):
    out[ids[i]] = names[i]
    i += 1
    
print(out)

{101: 'John', 102: 'Carol', 103: 'Mark'}

In [137]:
out = {}
for i in range(len(ids)):
    out[ids[i]] = names[i]
    i += 1
    
print(out)

{101: 'John', 102: 'Carol', 103: 'Mark'}

In [138]:
dict(zip(ids, names))

{101: 'John', 102: 'Carol', 103: 'Mark'}

In [139]:
# Ordered dictionary

In [141]:
# OrderedDict is the datatype inside a module called 'collections'

In [142]:
from collections import OrderedDict

In [143]:
d1 = OrderedDict({'a': 1, 'b': 2})

In [145]:
print(d1)

OrderedDict([('a', 1), ('b', 2)])

In [146]:
print(type(d1))

<class 'collections.OrderedDict'>

In [147]:
d1['a']

1

In [148]:
d1['b']

2

In [149]:
d1['a'] = 10

In [150]:
d1

OrderedDict([('a', 10), ('b', 2)])

In [151]:
d1['c'] = 100

In [152]:
d1

OrderedDict([('a', 10), ('b', 2), ('c', 100)])

In [153]:
for i in d1:
    print(i)

a
b
c

In [154]:
d1.keys()

odict_keys(['a', 'b', 'c'])

In [155]:
d1.get('a')

10